html, body {
    align-items: center;
    height: auto%;
    width: auto;
    margin: 0; /* Remove default margin */
}
.logo__img{
    padding: 40px;
    padding-bottom: 20px;
    width: 60%;
    display: flex;
    align-items: center;
}|
.sign__s1.p{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}

.button__b1{
    display: flex;
    cursor: pointer;
}
.Tittle__1{
    display: flex;
    padding-bottom: 50px;
    color: darkslategrey;
    font-size: small;
}
